.boddi {
	margin: 6em;
}
span {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}
body {
	background: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.hedd {
	width: 100%;
	background-color: black;
	height: 5em;
	margin: 0 auto;
}
#third {
	margin-bottom: 1em;
	width: 25%;
	margin-right: 2em;
	margin-left: 2em;
}
#af {
	justify-content: center;
}
input {
	width: 50%;
	height: 50%;
	font-size: 200%;
}